.message-list__container {
  position: relative;
  overflow-y: auto;
  padding: 20px 5% 2pc;
  flex-grow: 1;
}
.starter-text-message {
  background: rgb(32, 39, 43);
  color: rgb(250, 217, 100);
  font-size: 0.77rem;
  text-align: center;
  padding: 5px 10px;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 5px;
  line-height: 20px;
}
.message__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
}
.button-group {
  align-self: flex-end;
}
.button {
  align-self: flex-end;
  background-color: #dc3546;
  color: white;
  padding: 2px 3px 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
  margin-right: 2px;
}
.message__container:hover .button {
  opacity: 1;
}
.message {
  background: #005c4b;
  align-self: flex-end;
  padding: 6px 7px 8px 9px;
  margin-bottom: 12px;
  font-size: 0.85rem;
  color: rgba(241, 241, 242, 0.88);
  width: fit-content;
  max-width: 50%;
  line-height: 22px;
  border-radius: 5px;
  position: relative;
  overflow-wrap: anywhere;
  display: flex;
}
.timestamp-gap {
  width: 55px;
  display: inline-block;
  height: 3px;
  background: transparent;
}
.timestamp {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  right: 7px;
  bottom: 3px;
  color: rgb(166, 168, 170);
  font-size: 0.7rem;
  font-weight: 500;
}
