.contact-list__container {
  overflow-y: auto;
}
.contact__container {
  padding: 6px 20px;
  display: flex;
  border-bottom: 1px solid rgb(50, 55, 57);
  height: 78px;
  cursor: pointer;
  position: relative;
}
.profile-photo__img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  object-fit: fill;
  justify-content: space-between;
}
.content__container {
  margin-bottom: 2px;
  flex: 1;
  margin-left: 1.3rem;
  color: rgba(241, 241, 242, 0.88);
  width: 100%;
  overflow: hidden;
}
.content__container h2 {
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 4px;
  max-width: 100%;
}
.contact__container:hover .button {
  opacity: 1;
}
.content__container p {
  font-size: 0.72em;
  margin: 0px 0 0 0;
}
.truncate-text {
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.delete-conversation__btn {
  position: absolute;
  top: 0;
  z-index: 100;
}
