.contact__container {
  height: 72px;
  padding: 10px 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(50, 55, 57);
  cursor: pointer;
}
.profile-photo__container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.profile-photo__container img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  object-fit: fill;
  justify-content: space-between;
}
.content__container {
  overflow: hidden;
  margin-bottom: 2px;
  display: flex;
  align-self: center;
  margin-left: 1.3rem;
  justify-content: space-between;
  flex: 1 1 0%;
}
.contact__container h2 {
  color: rgba(241, 241, 242, 0.88);
  font-size: 1.2rem;
  font-weight: 500;
  flex: 1 1 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
